body {
    background-color: #f4f4f4;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

label {
    font-weight: bold;
}

.btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-outline-primary {
    color: #333;
    border-color: #333;
}

.btn-outline-primary:hover {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
}
